.button {
    -fx-background-color: #2d572c;
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #3e6b3e;
}

.label {
    -fx-font-family: Arial, sans-serif;
}

.hbox {
    -fx-padding: 10;
}
